*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #17202A ;
    overflow: hidden;

}
.heading{
    text-align: center;
    margin-top: 50px;
}
.app-body{
    height: 60vh;
    background-color: #273746 ;
    width: 800px;
    margin-top: 30px;
    margin-left: 340px;
    border-radius: 20px;
}
.search{
    text-align: center;
    margin-top: 40px;
}

.input-search{
    width: 370px;
    background-color: #fff;
    padding: 5px;
    border: none;
    /* color: #273746; */
    border-radius: 5px 0 0 5px ;
    border: 2px solid #17202A;
    outline: none;
}
.btn-search{
    padding: 5px;
    background-color: #5DADE2;
    border: none;
    width: 80px;
    border-radius:0 5px 5px 0;
}
.weather-icon{
    height: 25vh;
    background-color: #475569;   
    border-radius: 5px 5px 0px 0px;
}
.weather-icon img{
    width: 150px;
    margin: 1rem 320px;
}
.weather-info{
    height: 23vh;
    text-align: center;
    background-color: #273746;
    color: #fff;
    /* width: 800px; */
    display: flex;

}
.degree{
    width: 50%;
    
    padding-top: 48px;
    /* background-color: aquamarine; */
}
.degree-text{
    font-size: 2.7rem;
}
.weather-location{
    width: 50%;
    padding-top: 48px;
    text-align: center;
    background-color: #5DADE2;
    color: #17202A;

}
.weather-location h5{
    font-size: 1.8rem;
}
.weather-location p{
    font-weight: lighter;
    font-size: 2rem;
}
.current-date{
    padding-top: 48px;
    font-size: 2rem;
    letter-spacing: 2px;
    background-color: #5DADE2;
    
}
.weather-more-info{
    background-color: #fff;
    height: 15vh;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    /* margin: 10px; */
    /* padding-top: 20px; */
}
.more-info{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
}
.info-img{
    width: 50px;
    height: 35px;
    margin: 0 1rem;
}
@media only screen and (max-width: 500px) {
    .app-body{
        width: 400px;
        margin-left: 0px;
        height: auto;
    
    }
    .heading{
        margin-top: 10px;
    }
    .weather-icon img {
        width: 150px;
        margin: 0 100px;
    }
    .weather-icon{
        height: auto;
        display: grid;
        grid-template-columns: 30% 0%;
    }
    .weather-more-info{
    display: grid;
    grid-template-columns:45% 45%;
    height: auto;
    }
  .degree-text{
    font-size: 2rem;
  }
  .degree{
    /* width: 35%; */
  }
    .weather-location{
        padding: 22px;
        text-align: start;
    }
    .weather-location p{
     font-size: 1.5rem;
     font-weight: normal;
     
    }
    .more-info {
        margin: 15px 15px;
        font-weight: bold;
        /* flex-direction: column; */
    }
    .weather-info{
        height: auto;
    }
    .current-date{
        display: none;
    }
    .search{
        margin-top: 10px;
    }
    .input-search{
        width: 272px;
    }
  }
